<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.email %></h1>
    <p>
      Your are assigned to : <%= @phase.phase_type %>
    </p>
    <p>
<!--       <a href= '<%= @url %>' >click here</a> for  accepting the assignment
  -->   </p>

  </body>
</html>
