<div class='col-lg-3 ml-0 mr-auto pt-3 mb-5' >
  <%= bootstrap_form_for [@phase, Comment.new] do |form| %>
    <%= form.text_area :body, hide_label: true, placeholder: 'Add a comment' %>
    <%= form.submit %>
  <% end %>
</div>
