<div class='col-lg-4 col-md-6 ml-auto mr-auto pt-5' >
  <h3>Editing Lead</h3>
</div>
<%= render 'form', lead: @lead %>

<%= link_to 'Show', @lead, class: 'btn btn-info' %> |
<%= link_to 'Back', leads_path, class: 'btn btn-primary' %>
