<div class='col-lg-3 ml-0 mr-auto pt-2 mb-2' >
<%= bootstrap_form_for @phase, url: phase_engineers_url, method: :post do |f| %>
  <%= collection_select(:engineer, :user_id, @users, :id, :email) %>
  <div class='actions'>
    <%= f.submit 'add engineer', class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
